# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage
/.nyc_output

# Production
/build
/dist
/out
/.next/
/.cache/
/public # Uncomment if your project uses Gatsby and not Next.js

# Misc
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.vscode/
.idea/
*.log
*.pid
*.seed
*.pid.lock